html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 214, 163);
}


canvas {
  display: block;
}

section.presentation {
  position:absolute;
  top:0px;
  color: white;
  font-size: 1.8rem;
  width:100%;
  background: linear-gradient(45deg,#acfa9d,#e2d92b );
  text-align: center;
}